*{
  padding: 0;
  margin: 0;
}

body{
  font-family: sans-serif;
  background-color: #f2f2f2;
}

#menu{
  list-style-type: none;
  background-color: #2a2a2a;
  overflow: hidden;
  margin-bottom: 10px; 
}

#menu li{
  float: left;
}

#menu a{
  color: #fafafa;
  display: block;
  vertical-align: middle;
  line-height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration:none;
}

#menu a:hover{
  background-color: black;
}

.active{
  background-color: #02be02;
}
.pageHeader{
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}

/*-----------------------------------Pantry Styles-------------------------*/
.row-centered{
  margin: auto;
}
#pantryItemsTable{
  width: 70%;
  margin: auto;
  height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 2px solid #ccc;
  padding: 3px;
}
.pantryItems{
  border-bottom: 2px solid black;
}
.pantryItems div{
  padding: 5px;
}


/*---------------------------------Add items styles-------------------------*/
#tempItemsTable{
  width: 80%;
  margin: auto;
  height: 600px;
  overflow-y: auto;
  border: 2px solid #ccc;
  padding: 3px;
}
.tempItems{
  border-bottom: 2px solid black;
}
.tempItms div{
  padding: 5px;
}

#addBarcodeForm{
  margin-top: 10px;
  margin-bottom: 25px;
}

#addBarcodeForm tr, #editingForm tr{
  border: 5px solid #f2f2f2;
}
#addBarcodeForm label, #editingForm label{
  margin-right: 10px;
}

#addBarcodeForm div{
  margin-top: 10px;
  margin-bottom: 10px;
}

#formBottom{
  display: none;
}

#addButtonDiv{
  width: 175px;

  margin-top: 20px; 
  margin-bottom: auto;

}
#addToPantryButton, #formSubmit{

  color: black;
  font-weight: bold;
  display: block;
  padding: 10px;
  border: 2px solid black;
  text-align: center;
  background-color: #ccc;
  text-decoration: none;
  width: 175px;
}

#formSubmit{
  display: none;
}
#addToPantryButton:hover, #formSubmit:hover{
  background-color: #9cfc9c;
  cursor: pointer;
}
.heading{
  display: flex;
  justify-content: space-between;

}
.formBottom{
  display: none;
}
/*-----------------------------Barcode Styles-------------------------------*/
.barcode div{
  display: inline-block;
  padding: 5px;
}

.barcode{
  border-bottom: 2px solid black;
}

#barcode-table{
  margin-top: 10px;
}

#barcodeItemsTable{
  width: 80%;
  margin: auto;
  height: 600px;
  overflow-y: auto;
  border: 2px solid #ccc;
  padding: 3px;
  /*display: block;*/
}
#addBarcodeButton_save{
  padding-left: 25px !important;
  padding-right: 25px !important;
  
}

#barcodeFormContainer button, #barcodeFormContainer a{
  background-color: #9cfc9c;
  padding: 15px;
  font-weight: bold;
  border: 1px solid black;
  text-decoration: none;
  color: black;
}

#barcodeFormContainer a{
  margin-top: 15px;
}

#barcodeFormContainer a:hover {
  cursor: pointer;
}

#addBarcodeFormDiv{
  
  /*width: 60%;*/
  margin: auto;
  padding: 20px;
  margin-top: 25px;
  margin-bottom: 15px;
  background-color: #ccc;
  border: 2px solid black;
}

/*---------------------------Edit modal------------------------------------*/

.modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal-content{
  background-color: #f2f2f2;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}
.modal-content table{
  width: 100%;
}
/*.inputCol{ 
  width: 60%;
}*/
.modal-content input{
  width: 80%;
}
.labelCol{
  width: 25%;
}
.close{
  color: #000;
  float: right;
  font-size: 36px;
  font-weight: bold;
}
.close:hover{
  color:red;
  text-decoration: none;
  cursor: pointer;
}
/*#editFormSubmit{
  margin-top: 20px;
  width: 100%;
}*/
.modalIcons{
  text-align: center;
}
.modalIcons img{
  margin: 5px;
}

/*-----------------------Main Display Table Styles------------------------*/
.container{
  
  /*margin-bottom: 25px;*/
  /*margin-top: 25px;*/
  /*width: 80%;*/
  /*background-color: white;*/
  /*position: relative;*/
}
.barcodeCol{
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  word-wrap: break-word;
}
.itemNameCol{
  display: inline-block;
  font-weight: bold;
}
.defaultQuantityCol, .quantityCol{
  display: inline-block;
  text-align: center;
}
.UOMCol{
  display: inline-block;
  text-align: center;
}
.categoryCol{
  display: inline-block;
  text-align: center;
}
.iconCol{
  display: inline-block;
  text-align: center;
}

.col{
  padding:5px;
  /*border: 1px solid black;*/
  
}
.row{
  border-bottom: 2px solid  #266ed9;
  min-height: 35px;
  background-color: white;
}
.header{
  text-align: center;
  font-weight: bold;
  height: 50px;
  padding: 5px;
  vertical-align: text-bottom;
  background-color: #9cfc9c;
}
.row:hover{
 /* background-color: #f2f2f2;
  font-weight: bold;*/
}

.header:hover{
  background-color: #9cfc9c;
}

#formDiv{
  display: none;
  width: 80%;
  margin: auto;
  padding: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #ccc;
  border: 2px solid black;
}


#addToListSuccess{
  display: none;
}

.alert{
  width: 50%;
  left: 25%;
  top: 20px;
  z-index: 10;
  position: absolute;
}


@media (max-width: 991px){
  .icons{
    float: right;
  }
  .icons .col{
    padding-left: 20px;
    padding-right: 20px;
  }
  .header .col{
    display: none;
  }
  .itemTable{
    font-size: 20px;
  }
  .barcodeCol{
    text-align: left;
    font-weight: normal;
  }

  .quantityCol{
    border-right: 1px solid black;
    padding: 0 10 0 10;
    /*padding-right: 10px;*/
  }
  .uomCol{
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding: 0 10 0 10;

  }
  .categoryCol{
    padding: 0 10 0 10;
    border-left: 1px solid black;
  }
  .itemNameCol{
    font-size: 28px;

  }
  .iconCol img{
    width: 40px;
  }
}
